<div class="page-header">
  <h3>Emergency Event #<%= @emergency_event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @emergency_event.date %></dd>

      <dt>Emergency type</dt>
      <dd><%= @emergency_event.emergency_type_id %></dd>

      <dt>Details</dt>
      <dd><%= @emergency_event.details %></dd>

      <dt>Office</dt>
      <dd><%= @emergency_event.office_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/emergency_events" class="btn btn-primary">
        Back
      </a>
      <a href="/emergency_events/<%= @emergency_event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_emergency_event/<%= @emergency_event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
