<div class="page-header">
  <h3>Emergency Type #<%= @emergency_type.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @emergency_type.name %></dd>

      <dt>Details</dt>
      <dd><%= @emergency_type.details %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/emergency_types" class="btn btn-primary">
        Back
      </a>
      <a href="/emergency_types/<%= @emergency_type.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_emergency_type/<%= @emergency_type.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
